<h1>The Movies Site</h1>

<h2>Search for a movie</h2>
<form action="{{ url_for('search') }}" method="GET">
  <input type="text" id="search" name="search" />
  <input type="submit" />
</form>


<h2>Add a movie</h2>
<form action="{{ url_for('movie') }}" method="POST">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" />
  <br>

  <label for="year">Year</label>
  <input type="text" id="year" name="year" />
  <br>

  <label for="lead-actor">Lead Actor</label>
  <input type="text" id="lead-actor" name="lead-actor" />
  <br>

  <input type="submit" />
</form>
